@CHARSET "UTF-8";

.vistaFamilyHistory .z-toolbar label {
	margin-bottom: 0;
}

.vistaFamilyHistory .z-toolbar .z-separator {
	margin-right: 5px;
}

.vistaFamilyHistory-grid .z-column-content {
	white-space: pre-line;
	line-height: 15px;
	padding: 3px;
}

.vistaFamilyHistory-grid .z-column-sorticon {
	position: inherit;
	top: inherit;
	left: inherit;
	float: right;
}

.vistaFamilyHistory-grid .z-row {
	border-bottom: 1px solid lightgray;
}

.vistaFamilyHistory-grid .z-grid {
	margin-left: 49px;
}

.vistaFamilyHistory-grid .z-cell .glyphicon-plus {
	color: green;
}

.vistaFamilyHistory-grid .z-cell .glyphicon-pencil {
	color: brown;
}

.vistaFamilyHistory-grid .z-detail-outer {
	padding: 0;
}

.vistaFamilyHistory-bold,
.vistaFamilyHistory-bold * {
	font-weight: bold!important;
}

.vistaFamilyHistory-grid .z-row:hover .z-detail-outer,
.vistaFamilyHistory-grid .z-row:hover .z-idspace {
	background: lightgray;
}


