@CHARSET "UTF-8";

.vistaPatientGoals .z-toolbar label {
	margin-bottom: 0;
}

.vistaPatientGoals .z-toolbar .z-separator {
	margin-right: 5px;
}

.vistaPatientGoals-grid .z-column-content {
	white-space: pre-line;
	line-height: 15px;
}

.vistaPatientGoals-grid .z-row {
	border-bottom: 1px solid lightgray;
}

.vistaPatientGoals-grid .z-cell .glyphicon-plus {
	color: green;
}

.vistaPatientGoals-grid .z-cell .glyphicon-pencil {
	color: brown;
}

.vistaPatientGoals-grid .z-detail-outer {
	padding: 0;
}

.vistaPatientGoals-group-active {
	background-color: lightgreen;	
}
.vistaPatientGoals-group-inactive {
	background-color: lightgreen;	
}
.vistaPatientGoals-group-declined {
	background-color: lightgreen;	
}
